{% extends 'wrapper.html' %}
{% load static %}
{% block title %}SRTour - Home{% endblock %}
{% block content %}
    {# Slider #}
        <div class="slice">
                <div class="slideshow owl-carousel">
                    {% for slide in slides %}
                        <div class="item">
                            <img src="{{ slide.image.url }}" alt="Slide" class="img-responsive"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
    {# End Slider #}
    {# Tours #}
        <div class="placetop">
            <div class="container">
                <div class="row">
                    <div class="places">
                        <h1>MOST POPULAR PLACES</h1>
                        <p>Each city keeps its history and its own atmosphere of the past.</p>
                        <hr>
                    </div>
                    <div class="tab-content tour">
                        <div class="tab-pane active" id="hotels">
                            {% for tour in tours %}
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                    <div class="product-thumb">
                                        <div class="image">
                                            <img src="{{ tour.img_list.url }}" alt="{{ tour.name_en }}" class="img-responsive" />
                                            <div class="matter">
                                                <p>{{ tour.name_en }}  {# <span>{{ tour.price }} UZS</span> #}</p>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="inner">
                                                <h4>{{ tour.name_en }}</h4>
                                                <p>{{ tour.description_en }}</p>
                                            </div>
                                            <div class="text-left">
                                                <button type="button" onclick="location.href='tour-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                                <button type="button" onclick="location.href='/en/tours/{{ tour.id }}'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="text-center">
                                    <button class="btn-primary" type="button" onclick="location.href='{% url 'en_tour_list' %}'">View more <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# End Tours #}
    {# Video #}
        <div class="placetop">
            <div class="container">
                <div class="row">
                    <div class="places">
                        <h1>Video-review</h1>
                        <p>Recommended for viewing, after this video you will want to visit our country.</p>
                        <hr>
                        <div class="text-center">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/csjkd06KF2w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# End Video #}
    {# Gallery #}
        <div class="placetop">
	<div class="container">
		<div class="row">
			<div class="places">
				<h1>Gallery</h1>
				<p>Photos that convey the whole essence of our country</p>
				<hr>
			</div>
		</div>
	</div>
	<div class="tab-content gallery">
		<div class="tab-pane active" id="alls">
			<ul class="list-inline">
				<li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/1.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/2.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/3.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/4.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/5.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/6.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/7.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/8.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="text-center">
			<button class="btn-primary" type="button" onclick="location.href='#'">View more <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
		</div>
	</div>
</div>
    {# End Gallery #}
{% endblock %}