{% extends 'wrapper.html' %}

{% block title %}{{ tour.name_en }}{% endblock %}

{% block content %}
<!-- breadcrumb start here -->
<div class="bread-crumb">
	<div class="container">
		<h2>Our Tours</h2>
		<ul class="list-inline">
			<li><a href="{% url 'en_index' %}">home</a></li>
			<li><a href="{% url 'en_tour_list' %}">tours</a></li>
			<li><a href="{% url 'en_tour_detail' tour.id %}">lorem view</a></li>
		</ul>
	</div>
</div>
<!-- breadcrumb end here -->

<!-- main container start here -->
<div class="placetop">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-box">
					<h6>TALK TO EXPERT</h6>
					<div class="talk">
						<ul class="list-unstyled">
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<h4>PHONE</h4>
								<P>+1 (123) 123 12345</P>
							</li>
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<h4>EMAIL</h4>
								<P>Johndoe01@gmail.com</P>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-9 mainpage">
				<div class="row">
					<div class="col-sm-12">
						<div class="thumb">
							<img src="{{ tour.img_detail.url }}" alt="{{ tour.name_en }}" class="img-responsive"/>
						</div>
					</div>
					<div class="tour-detail col-sm-12">
						<div class="tab-content">
							<div class="tab-pane active col-sm-12" id="add-review">
								<h2>BOOK NOW</h2>
								<form class="form-horizontal row" method="post">
									<fieldset>
										<div class="form-group col-sm-6">
											<label for="input-name">Name*</label>
											<input class="form-control" id="input-name" value="" name="jobname" required="" type="text">
                                            <label for="input-email">Phone*</label>
                                            <input class="form-control" id="input-email" value="" name="email" required="" type="tel">
                                            <label for="input-email">E-mail*</label>
                                            <input class="form-control" id="input-email" value="" name="email" required="" type="email">
                                        </div>

										<div class="form-group col-sm-6">
											<label for="input-enquiry">Comment</label>
											<textarea class="form-control" id="input-enquiry" rows="10" name="enquiry" required="" style="margin-bottom: 30px; resize: none;"></textarea>
											<button type="submit" value="Submit" class="btn btn-primary btnus">Submit</button>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="row tour">
					<div class="places related">
						<h1>related tours</h1>
						<hr>
					</div>
					<div class="owl-carousel" id="related-pro">
                        {% for tour in tours %}
                            <div class="item">
                                <div class="col-xs-12">
                                    <div class="product-thumb">
                                        <div class="image">
                                            <img src="{{ tour.img_list.url }}" alt="{{ tour.name_en }}" class="img-responsive" />
                                            <div class="matter">
                                                <p>{{ tour.name_en }}  {# <span>{{ tour.price }} UZS</span> #}</p>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="inner">
                                                <h4>Grand Switerland</h4>
                                                <p>{{ tour.description_ru }}</p>
                                            </div>
                                            <div class="text-left">
                                                <button type="button" onclick="location.href='tour-booking-form.html'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                                <button type="button" onclick="location.href='/en/tours/{{ tour.id }}'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- main container end here -->
{% endblock %}