{% extends 'wrapper.html' %}
{% block title %}Tours{% endblock %}
{% block content %}
    {# Breadcumb #}
        <div class="bread-crumb">
            <div class="container">
                <h2>Tours</h2>
                <ul class="list-inline">
                    <li><a href="{% url 'en_index' %}">Home</a></li>
                    <li><a href="{% url 'en_tour_list' %}">Tours</a></li>
                </ul>
            </div>
        </div>
    {# End Breadcumb #}

    {# MainContainer #}
        <div class="placetop">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mainpage">
                        <div class="row tour">
                            {% for tour in tours %}
                                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="product-thumb">
                                    <div class="image">
                                        <a href="#"><img src="/{{ tour.img_list.url }}" alt="{{ tour.name_en }}" class="img-responsive" /></a>
                                        <div class="matter">
                                            <p>{{ tour.name_en }}  {# <span>{{ tour.price }} UZS</span> #}</p>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <div class="inner">
                                            <h4>{{ tour.name_en }}</h4>
                                            <div class="matter">
                                                <p>{{ tour.name_en }}  {# <span>{{ tour.price }} UZS</span> #}</p>
                                            </div>
                                            <p>{{ tour.description_en }}</p>
                                        </div>
                                        <div class="text-left">
                                            <button type="button" onclick="location.href='{{ tour.id }}/'">Book Now <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                            <button type="button" onclick="location.href='{{ tour.id }}/'">View More <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# End MainContainer #}
{% endblock %}