{% load static %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="social-icon">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"
                                                                                   aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"
                                                                              aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/" target="_blank"><i class="social_googleplus"
                                                                                  aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"
                                                                                    aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://in.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p"
                                                                                   aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://photos.google.com/" target="_blank"><i class="social_picassa"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-xs-12">
                <div id="logo">
                    {% if '/en/' in request.path %}
                        <a href="{% url 'en_index' %}"><img class="img-responsive" src="{% static 'img/logo.png' %}"
                                                            alt="logo" title="logo"/></a>
                    {% elif '/ko/' in request.path %}
                        <a href="{% url 'ko_index' %}"><img class="img-responsive" src="{% static 'img/logo.png' %}"
                                                            alt="logo" title="logo"/></a>
                    {% elif '/uz/' in request.path %}
                        <a href="{% url 'uz_index' %}"><img class="img-responsive" src="{% static 'img/logo.png' %}"
                                                            alt="logo" title="logo"/></a>
                    {% else %}
                        <a href="{% url 'ru_index' %}"><img class="img-responsive" src="{% static 'img/logo.png' %}"
                                                            alt="logo" title="logo"/></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12">
                {% if '/en/' in request.path %}
                    <div class="button-login pull-right">
                        <button type="button" class="btn btn-default btn-lg" onclick="location.href='#'">Booking Now
                        </button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='#'">Take a tour <i
                                class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    </div>
                {% elif '/ko/' in request.path %}
                    <div class="button-login pull-right">
                        <button type="button" class="btn btn-default btn-lg" onclick="location.href='#'">지금 예약</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='#'">둘러보기<i
                                class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    </div>
                {% elif '/uz/' in request.path %}
                    <div class="button-login pull-right">
                        <button type="button" class="btn btn-default btn-lg" onclick="location.href='#'">Endi bron
                            qiling hozir
                        </button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='#'">Ekskursiya
                            qiling <i
                                    class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    </div>
                {% else %}
                    <div class="button-login pull-right">
                        <button type="button" class="btn btn-default btn-lg" onclick="location.href='#'">Забронировать
                            сейчас
                        </button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='#'">Взять тур <i
                                class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>