{% extends 'wrapper.html' %}
{% load static %}
{% block title %}404 - Не найдено{% endblock %}
{% block content %}
    {# Breadcrumbs #}
        <div class="bread-crumb">
            <div class="container">
                <h2>Ошибка 404</h2>
                <ul class="list-inline">
                    <li><a href="{% url 'ru_index' %}">Главная</a></li>
                    <li><a href="#">Ошибка 404</a></li>
                </ul>
            </div>
        </div>
    {# End BreadCrumbs #}

    {# Content #}
        <div class="error">
            <img src="{% static 'img/bg-image1.jpg' %}" class="img-responsive" alt="404"/>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="matter">
                            <h2>404</h2>
                            <p>Не найдено !</p>
                            <span>Простите, Мы не смогли найти страницу<br> запрашиваемую вами </span>
                            <button class="btn-primary" type="button" onclick="location.href='/ru/'"><i class="fa fa-reply-all" aria-hidden="true"></i> На главную</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# End Content #}
{% endblock %}