{% extends 'wrapper.html' %}
{% load static %}
{% block title %}SRTour - Главная{% endblock %}
{% block content %}
{# Slider #}
<div class="slice">
		<div class="slideshow owl-carousel">
            {% for slide in slides %}
                <div class="item">
				    <img src="{{ slide.image.url }}" alt="Слайд" class="img-responsive"/>
			    </div>
            {% endfor %}
		</div>
	</div>
{# End Slider #}

{# Tours #}
<div class="placetop">
	<div class="container">
		<div class="row">
			<div class="places">
				<h1>Популярные направления</h1>
				<p>Каждый город хранит свою историю и свою атмосферу прошлого.</p>
				<hr>
			</div>
			<div class="tab-content tour">
				<div class="tab-pane active" id="hotels">
                    {% for tour in tours %}
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <img src="{{ tour.img_list.url }}" alt="{{tour.name_ru}}" class="img-responsive" />
                                    <div class="matter">
                                        <p>{{ tour.name_ru }}  <span>{{ tour.price }} UZS</span></p>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4>{{ tour.name_ru }}</h4>
                                        <p>{{ tour.description_ru }}</p>
                                    </div>
                                    <div class="text-left">
                                        <button type="button" onclick="location.href='tour-booking-form.html'">Заказать <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                        <button type="button" onclick="location.href='tour-grid-view.html'">Узнать больше <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-center">
                            <button class="btn-primary" type="button" onclick="location.href='{% url 'ru_tour_list' %}'">Все туры <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{# End Tours #}

{# Video #}
<div class="placetop">
	<div class="container">
		<div class="row">
			<div class="places">
				<h1>Видео-обзор</h1>
				<p>Рекомендуем к просмотру, после этого видео Вы захотите посетить нашу страну.</p>
				<hr>
                <div class="text-center">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/csjkd06KF2w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
			</div>
		</div>
	</div>
</div>
{# End Video #}

{# Gallery #}
<div class="placetop">
	<div class="container">
		<div class="row">
			<div class="places">
				<h1>Галерея</h1>
				<p>Фотографии которые передают всю суть нашей страны</p>
				<hr>
			</div>
		</div>
	</div>
	<div class="tab-content gallery">
		<div class="tab-pane active" id="alls">
			<ul class="list-inline">
				<li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/1.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/2.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/3.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/4.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/5.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/6.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/7.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
                <li>
					<div class="product-thumb">
						<div class="image">
							<img src="{% static 'img/gallery/8.jpg' %}" alt="g1" title="g1" class="img-responsive" />
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="text-center">
			<button class="btn-primary" type="button" onclick="location.href='#'">Все фото <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
		</div>
	</div>
</div>
{# End Gallery #}
{% endblock %}